#appBar {
    background-color: black;
    color: #ffffff;
}


#appBarATag {
    color: #ffffff;
    text-decoration: none;
}

#appBarATag:active, #appBarATag:visited {
    text-decoration: none;
}

#appBarATag:hover {
    text-decoration: underline;
}

#slash {
    margin-left: .5em;
    margin-right: .5em;
    font-size: 2em;
} 
@media screen and (max-width: 600px) {
    #slash {
       font-size: 1em;
    }
  }


#name {
    margin-right: .5em;
    font-family: 'Baloo Chettan', cursive;
    font-size: 2.1em;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 600px) {
    #name {
       font-size: 1.1em;
    }
  }

#name:hover {
    text-decoration: none;
}

#links {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    #links {
       font-size: 1em;
    }
  }