#newReleasesGrid {
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}

#newReleaseCard {
    position: relative;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 3em;
    color: white;
}

#newReleasePaper{
    padding: 1em;
    height: 100%;
    background-color: black;
    color: white;
}

.nameOfArtist, .nameOfAlbum{
    text-decoration: none;
    cursor: pointer;
}

.nameOfArtist:hover, .nameOfAlbum:hover{
    text-decoration: none;
    cursor: pointer;
    opacity: .7;
}


.nameOfArtist:link, .nameOfAlbum:link, .nameOfArtist:visited, .nameOfAlbum:visited { 
    color: #1DB954;
    text-decoration: none;
    cursor: pointer;
  }

.nameOfArtist {
    font-size: 2rem;
    text-align: center;
    overflow: inherit;
}

.nameOfAlbum {
    font-size: 1.5rem;
    text-align: center;
    overflow: inherit;
    font-style: italic; 
}

.coverArt {
    width: 100%;
}